In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_excel('Test_dataset.xlsx',sheet_name = 1,header = 1)

In [3]:
raw_data

,Unnamed: 0,2020-08-10 00:00:00,2020-08-11 00:00:00,2020-08-12 00:00:00,2020-08-13 00:00:00,2020-08-14 00:00:00,2020-08-15 00:00:00
0,AC3235,0.80,0.660,0.77240,0.983224,0.901211,0.898368
1,AC3236,0.86,0.732,0.85448,1.086645,1.017042,1.029258
2,AC3237,0.93,0.816,0.95024,1.207302,NaN,1.181962
3,AC3238,1.09,1.008,1.16912,1.483091,1.461062,1.531000
4,AC3239,NaN,1.104,1.27856,1.620986,1.615504,1.705519
...,...,...,...,...,...,...,...
3326,AD2734,0.86,0.732,0.85448,1.086645,1.017042,1.029258
3327,AD2735,0.64,0.468,0.55352,0.707435,0.592327,0.549330
3328,AD2736,0.67,0.504,0.59456,0.759146,0.650243,0.614775
3329,AD2737,0.79,0.648,0.75872,0.965987,0.881906,0.876553
3330,AD2738,0.74,0.588,0.69032,0.879803,0.785380,0.767479

In [4]:
raw_data.dropna(axis = 0, inplace=True)

In [5]:
raw_data

,Unnamed: 0,2020-08-10 00:00:00,2020-08-11 00:00:00,2020-08-12 00:00:00,2020-08-13 00:00:00,2020-08-14 00:00:00,2020-08-15 00:00:00
0,AC3235,0.80,0.660,0.77240,0.983224,0.901211,0.898368
1,AC3236,0.86,0.732,0.85448,1.086645,1.017042,1.029258
3,AC3238,1.09,1.008,1.16912,1.483091,1.461062,1.531000
6,AC3241,1.23,1.176,1.36064,1.724406,1.731335,1.836409
7,AC3242,1.00,0.900,1.04600,1.327960,1.287315,1.334666
...,...,...,...,...,...,...,...
3326,AD2734,0.86,0.732,0.85448,1.086645,1.017042,1.029258
3327,AD2735,0.64,0.468,0.55352,0.707435,0.592327,0.549330
3328,AD2736,0.67,0.504,0.59456,0.759146,0.650243,0.614775
3329,AD2737,0.79,0.648,0.75872,0.965987,0.881906,0.876553
3330,AD2738,0.74,0.588,0.69032,0.879803,0.785380,0.767479

In [ ]:
from fbprophet import Prophet
def run_prophet(timeserie):
    model = Prophet(yearly_seasonality=False,daily_seasonality=False)
    model.fit(timeserie)
    forecast = model.make_future_dataframe(periods=1, include_history=False)
    forecast = model.predict(forecast)
    return forecast

In [8]:
series = raw_data.iloc[0,1:6]
series

2020-08-10         0.8
2020-08-11        0.66
2020-08-12      0.7724
2020-08-13    0.983224
2020-08-14    0.901211
Name: 0, dtype: object